
<h1>User詳細ページ</h1>

<% unless flash[:notice].nil? %>
	<h4><%= flash[:notice] %></h4>
<% end %>

<%= @user.name %>
<br>
<%= @user.address %>
<br>
<% @user.categories.each do |c| %>
	<%= c.name %>
<% end %>
<br>
<%= link_to "削除", @user , :confirm => "本当に削除してよろしいですか？", :method => "delete" %>
