<h1>ゲーム掲示板トップページ</h1>

<% dummy = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur rid ..." %>

<h2>新着アクティビティ</h2>
<div class="col_4 visible">
	<div class="center">
	<h4>Dummy Group 1</h4>
	<img class="style3" src="http://placekitten.com/90/60" width="90" height="60" />
	</div>
	<%= dummy %>
</div>
<div class="col_4 visible">
	<div class="center">
	<h4>Dummy Group 2</h4>
	<img class="style3" src="http://placedog.com/90/60" width="90" height="60" />
	</div>
	<%= dummy %>
</div>
<div class="col_4 visible">
	<div class="center">
	<h4>Dummy Group 3</h4>
	<img class="style3" src="http://placepuppy.it/90/60" width="90" height="60" />
	</div>
	<%= dummy %>
</div>

<%= link_to "user" , "/users/"%>
<br />
<%= link_to "group" , "/groups/"%>
